.task{
  border: 1px solid #888888;
  border-radius: 4px;
  width: 90%;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: left;
  background: transparent;
}
.checked{
  background: #555555;
}
.removeBtn{
  display: inline-block;
  height: 100%;
  width: 65px;
  background: transparent;
  float: right;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.removeBtn:hover{
  background: red;
  color: #fff;
  cursor: pointer;
}
.task-desk{
  margin: 15px;
  text-align: center;
}