.taskForm{
  margin: 15px;
  text-align: center;
}
.taskForm input{
  width: 70%;
  height: 30px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid gray;
  padding-left: 10px;
}
.taskForm button{
  height: 34px;
  width: 65px;
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
.taskForm button:hover{
  background: chartreuse;
  color: #fff;
  
}